<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.solution.plugin.chart.echarts</id>
    <name><![CDATA[ECharts图表]]></name>
    <active>yes</active>
    <version>2.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-02-18</jartime>
    <vendor email="solution@finereport.com">solution</vendor>
    <description><![CDATA[ECharts图表,源码和效果图可查看<a href="http://www.finedevelop.com:2015/projects/FS/repos/plugin-echarts-public">这里</a>.]]></description>
    <change-notes><![CDATA[
        <p>[2016-02-18]饼图</p>
    ]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.solution.plugin.chart.echarts.common.EChartsLocaleFinder"/>
        <JavaScriptFileHandler class="com.fr.solution.plugin.chart.echarts.common.EChartsFileLoader"/>
    </extra-core>
    <extra-report/>
    <extra-designer/>
    <extra-platform/>
    <extra-chart>
        <IndependentChartProvider class="com.fr.solution.plugin.chart.echarts.pie.EChartsPie"
                                  plotID="EChartsPiePlot"/>
        <IndependentChartProvider class="com.fr.solution.plugin.chart.echarts.map.ChineseMap"
                                  plotID="EChartsChinaMapPlot"/>
    </extra-chart>

    <extra-chart-designer>
        <IndependentChartUIProvider class="com.fr.solution.plugin.chart.echarts.pie.EChartsPieUI"
                                    plotID="EChartsPiePlot"/>
        <IndependentChartUIProvider class="com.fr.solution.plugin.chart.echarts.map.ChineseMapUI"
                                    plotID="EChartsChinaMapPlot"/>
    </extra-chart-designer>
</plugin>